
aside .btn-aside {
    display: flex;
    width: 275px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(22, 74, 170);
 }
 
 aside .btn-aside:hover {
    display: flex;
    width: 275px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(39, 39, 41);
    transition: 1s;
 }
 
 aside .icon-menu {
    color: #ddd;
    font-size: 1.6rem;
 }
 
 .btn-aside a {
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
 }
 
 .btn-aside a:hover {
    color: rgb(245, 237, 237);
    text-decoration: none;
    font-weight: bold;
 }