main {
   grid-area: main;
   padding: 10px;
   background-color: #777;
}

.content {
   background-color: rgb(255, 255, 255);    
   height: 100%;
}

.icon {
   font-size: 2.8rem;
}

.content-title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
   display: flex;
   justify-content: center;
   align-items: center;
   height: (100% - 70px);
}

form {
   width: 80%;
}

.description {
   border: dashed 1px rgb(207, 205, 211);
   padding: 15px;
   margin: 10px 0px;
   background-color: rgb(227, 233, 231);
}

.up {
   font-size: 13px;
   font-weight: bold;
}

.btn-save {
   display: flex;
   justify-content: flex-end;
}