* {
    margin: 0;
    padding: 0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  height: 100vh;
}

.login-card {
  height: 370px;
  width: 400px;
  border-radius: 10px;
}

.card-header {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1.8rem;
  color: #fff;
  background: linear-gradient(to right, #373b44, #4286f4);
}

.group-confirm {
  display: flex;
  justify-content: space-between;
}


