
  main {
   grid-area: main;
   padding: 10px;
   background-color: #777;
}

.content {
   background-color: #fff;    
   height: 100%;
}

.icon {
   font-size: 2.8rem;
}

.content-title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
   display: flex;
   align-items: center;
   height: calc(100% - 200px);
}

.register {
   border: solid 1px rgb(180, 181, 182);
   width: 85%;
   min-height: 162px;
   margin-top: 10px;
   padding: 20px;
   background: rgba(212,228,239,1);
}

.up {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.1rem;
   font-weight: bold;
}
 
.down {
   margin-top: 5px;
   border: solid 3px rgb(246, 248, 248);
   height: 65%;
   width: 100%;
   font-weight: bold;
   overflow: auto;
}





